# ======================
# IGNORE DATABASE
# ======================
*.db
*.sqlite
*.sqlite3
*.sql
*.bson
*.ini

# ======================
# IGNORE DATA FOLDERS
# ======================
data/
database/
db/
datasets/
